<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         backupGlobals="true"
         cacheResult="false"
         colors="true">
    <testsuites>
        <testsuite name="TelegramBot Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <php>
        <env name="ANDREWGOS_TELEGRAM_BOT_TEST_TOKEN" value="YOUR_SECRET_API_KEY"/>
        <env name="ANDREWGOS_TELEGRAM_BOT_TEST_CHAT_ID" value="YOUR_SECRET_CHAT_ID"/>
    </php>
</phpunit>